.pokemon-card {
  max-width: 400px;
  margin: auto;
}

button {
  justify-content: right;
  float: right;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
