table {
  width: 80%;
  margin-left: 10px;
}
.container {
  padding-left: 30px;
  margin-top: 20px;
}
h1 {
  margin-left: 20px;
}
td {
  cursor: pointer;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
